.container {
  width: 100%;
  background: #333646;
  padding: 0 105px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: calc(75vh + 150px);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  z-index: 100;
  transform: translateY(-150px);
  flex-direction: column;
  width: 100%;
  gap: 50px;
  padding: 0 105px;
}

.services {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.serviceItem {
  height: 100%;
  padding: 30px;
  width: 20%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
  border-radius: 7px;
}

.serviceItem:hover {
  transform: scale(1.1);
}
.serviceItem svg {
  font-size: 20px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text h4 {
  font-size: 20px;
  line-height: 22px;
}

.text p {
  font-size: 14px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
}

.technos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 20px 30px;
  font-size: 50px;
  align-items: center;
  width: 100%;
}

.technosRow {
  display: flex;
  gap: 50px;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.technosRow li {
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.7));
  width: 33%;
  display: flex;
  justify-content: center;
}
.rowContent {
  display: flex;
}
.paragraphContainer {
  width: 50%;
}

.creation {
  width: 40%;
  margin: 0 auto;
  border-radius: 7px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 15px;
}

.image {
  border-radius: inherit;
}